.counter
  button, span
    border: 1px solid var(--dark-grey)
    border-right: 0
    vertical-align: middle
    height: 20px
    width: 40px
    text-align: center
    font-size: 12px
    line-height: 20px

  span
    display: inline-block

  button
    color: white
    background: var(--dark-grey)



