.comment-box
  background: #fff
  padding: 20px 40px
  margin-top: 10px
  border-radius: 5px

  $elements: 15
  @for $i from 0 to $elements
    .comment-group > div:nth-child(#{$i + 1})
        margin-left: $i*50px




  .title
    font-size: 16px
    margin-bottom: 20px
    font-weight: bold

$elements3: 3
@for $i from 0 to $elements3
  .comment-box > .comment-group > div:nth-child(#{$i + 5})
    display: none