.comment-box
  margin-top: 10px
  border-radius: 5px
  .group-comments, .single-comment
    background: #fff
    border-radius: 5px
    padding: 20px 40px
    margin-bottom: 5px

  $elements: 88
  @for $i from 0 to $elements
    .sub-comments > .comment:nth-child(#{$i})
        margin-left: $i*50px

  @for $i from 4 to $elements
    .sub-comments.hide > .comment:nth-child(#{$i})
         display: none

  .title
    font-size: 16px
    margin: 30px 5px 20px
    font-weight: bold

  .button-more
      width: 50%
      max-width: 200px
      display: block
      margin: 0 auto
      background: #5a5a5a
      color: white
      font-size: 14px
      line-height: 35px

